sudo: false
language: node_js
node_js:
  - "14"
  - "12"

before_install:
- curl --location http://rawgit.com/twolfson/fix-travis-ci/master/lib/install.sh | bash -s

notifications:
  email:
    recipients:
      - todd@twolfson.com
    on_success: change
    on_failure: change
